<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156182500729-ufte9f4c6app85fpe4bo0gjrblvu5knu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156182500729-ufte9f4c6app85fpe4bo0gjrblvu5knu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156182500729-0rkcn57tj678hgmo1iuji00at3uq1usj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVMtFf7ZKLi7sU_ZFhFUZQaug8tQEgKZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>156182500729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppFinalIferrerf</string>
	<key>PROJECT_ID</key>
	<string>rural-sport</string>
	<key>STORAGE_BUCKET</key>
	<string>rural-sport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156182500729:ios:e406917c9191756fd8cba8</string>
</dict>
</plist>